@charset "UTF-8";
/* CSS Document */

/*******************/
/******FEATURE******/
/*******************/

#feature {
	margin-top: 20px;
	margin-bottom: 15px;
	height: 300px;
	position: relative;
}

#feature #slideshowFull {
	width: 1000px;
	height: 300px;
}

#featureTitle {
	background-color: #900;
	z-index: 2;
	position: absolute;
	font-size: 22px;
	color: white;
	font-weight: bold;
	padding: 15px;
	bottom: 0px;
	right: 0px;
}

#feature #slideshow {
	float: left;
	width: 630px;
}

#projectInfo .title {
	color: #006;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

#projectInfo p {
	padding-bottom: 20px;
}


/************************/
/******MAIN CONTENT******/
/************************/
#mainContent {
	clear: both;
}

/***************************/
/******CURRENT PROJECT******/
/***************************/
.currentProject {
	background:url(../images/galludet.jpg);
	width: 1000px;
	height: 225px;
	position: relative;
	margin-top: 20px;
}
.currentProject .projectInfo {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
	height: 205px;
	width: 270px;
	float: right;
	padding: 10px 15px;
}

.currentProject .projectInfo .title {
	color: #006;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	padding-bottom: 10px;
}

.currentProject .projectInfo .location {
	color: #006;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	padding-bottom: 10px;
}

.currentProject .learnMore {
	background-color: #900;
	width: 300px;
	height: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.currentProject .learnMore p {
	color: #FFF;
	font-size: 14px;
	text-align: right;
	padding-right: 10px;
	padding-top: 2px;
}

/***************************/
/******PROJECT DETAILS******/
/***************************/

.projectDescription {
	padding: 20px 30px;
}
.thumbnail {
	width: 180px;
	height: 150px;
}
